./frontend
./backend/utils/*
./backend/segment/segment_utils/models/*
./backend/segment/segment_utils/ui_models/*
./backend/segment/models/*
./testing/*
./backend/results/segmented_models/*

# Byte-compiled / optimized / DLL files
*/__pycache__/*
*.py[cod]